<div class="container">
  <div class="page-header">
    <h1>My Music Collection <sup><span class="label label-success">1700</span></sup>
      <span class="pull-right">{{#link-to 'albums.new' class="btn btn-primary"}}New{{/link-to}}</span>
    </h1>
  </div>
  {{outlet}}
</div>