<h2>{{model.title}} <small>{{model.artist}}</small></h2>
{{#link-to 'albums.edit' model}}edit{{/link-to}}
<span class="mymusic-album-firstPlayed">{{formatted-date model.first_played}}</span>

<ul>
  {{#each model.sources as |source|}}
  <li>{{source.location}}</li>
  {{/each}}
</ul>
